Options +FollowSymLinks -MultiViews
RewriteEngine On

# Redirect /file.php to /file
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.php[\s?] [NC]
RewriteRule ^ /%1 [L,R=301]

# Internally map /file to /file.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
